*{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    color: #DDC1A4;
}
body {
    background-image: url(/assets/image/g1.png);
    background-size: cover;
    background-repeat: no-repeat;
}
nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 1rem;
    margin: 0;
    z-index: 1;
    position: absolute;
    top:50px; /* Adjust position as  */
    right: 320px; /* Adjust position as needed */
}
nav ul li {
    margin-right: 100px;
    margin: 0 20px; /* Adjust spacing as needed */
}
nav ul li a {
    color: #F2DAC2;
    text-decoration: none;
}
li::after {
    content: '';
    width: 0rem;
    height: 0.12rem;
    background-color:  rgb(250, 213, 6);;
    display: block;
    border-radius: 0.2rem;
    margin: 0.2rem auto 0 auto;
    transition: all 0.3s ease-in-out;
}

li:hover::after {
    width: 1.5rem;
}
section{
    z-index: 1;
    position: absolute;
    top:150px; /* Adjust position as  */
    left: 100px; /* Adjust position as needed */
    font-size: 200%;
    }
    #logo{
        z-index: 3;
        position: absolute;
        width: 50px;
        margin: 0;
        top: 4%;
        left: 1%;
    }
    #lokasi{
        font-size: 12px;
        position: relative;
        bottom: 415px;
        left: 259%;
        
    }
    #open{
        position: relative;
        right: 25%;
        bottom: 406px;
        font-size: 12px;
    }
    #lokasiimg{
        width: 40px;
        top: -143px;
        left: 250%;
        position: absolute;
    }
    #jam{
        position: relative;
        bottom: 430px;
        left: 300%;
        font-size: 12px;
    }
    #jamimg{
        width: 12%;
        top: -147px;
        left: 289%;
        position: absolute;
    }
    h3{
        font-size: 20px;
        margin-bottom: 15px;
        position: relative;
        top: 30px;
    }
    iframe{
        position: relative;
        top: 180px;
        left: 50%;
        width: 33%;
        border-radius: 15px;
    }
    p1{
        position: relative;
        left: 200px;
        top: 265px;
    } 
    #wa{
        position: absolute;
        left: -12.5%;
        width: 40px;
        top: 44%;
    }
    #email{
        position: absolute;
        left: -12.5%;
        width: 40px;
        top: 55%;
    }
    #ig{
        position: absolute;
        left: -13%;
        width: 38px;
        top: 68%;
    }
    #Youtube{
        position: absolute;
        left: -13%;
        width: 33px;
        top: 81%;
    }
   
       